body{
    position: relative;
}
.white-button{
    background-color: white;
    border-width: 1px;
    border-color: #ced4da;
    border-style: solid;
}
.pink{
    color: #e1c5ca;
}

.pink-bg{
    background-color: #e1c5ca;
}
.white-bg{
    background-color: white;
}
.navbar-brand
{
    margin: 0;
    padding: 0;
}

.btn-outline-secondary:active {
    box-shadow:none !important;
    border-color:white !important;
}


.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }


.btn-secondary, .btn-outline-secondary:hover  {
    background-color: #e1c5ca !important;
    border-color:white !important;
}



